.pure-dialog{
  .el-dialog__footer{
    margin-top: 10px;
    text-align: center;
  }
}
.rcms-main{
  .plus-search .plus-form__row{
    row-gap: 0px !important;
  }
  // 所属按钮交换位置
  .plus-search__button__wrapper{
    .el-form-item__content{
      display: flex !important;
      justify-content: end !important;
      flex-flow: row-reverse !important;  //关键
      .el-button{
        margin-left: 12px;
        margin-right: 0px;
        float: right;
      }
      .el-button:first-child{
        float: left;
      }
    }
  }
  .rcms-table-btn{
    height: 60px;
    background: wheat;
    width: 80%;
    margin-top: 8px;
    margin-bottom: -68px;
    line-height: 60px;
    margin-left: 10px;
  }
  .rcms-table-form{
    height: 60px;
    background: wheat;
    width: 80%;
    margin-top: 8px;
    margin-bottom: -68px;
    line-height: 60px;
    margin-left: 10px;
    .el-input__wrapper{
      border-radius: 0;
    }
    button{
      margin-left: 0;
      position: relative;
      border-radius: 0;
    }
  }
  .rcms-alert{
    background: white;
    padding: 10px;
  }
}
.rcms-form-tip{
  display: flex;
  align-items: center;
  span:first-child{
    padding-right: 2px;
  }
}

.rcms-plus-page{
  .plus-page{
    .el-card.is-always-shadow{
      box-shadow: none ;
      border-radius: 0;
      border-color: white;
      .el-card__body{
        padding: 14px;
      }
    }
    .plus-page__table_wrapper{
      margin-top: 10px;
      .el-card__body{
        padding: 16px 16px 0 16px;
      }
    }
  }
  // 所属按钮交换位置
  .plus-search__button__wrapper{
    .el-form-item__content{
      display: flex !important;
      justify-content: end !important;
      flex-flow: row-reverse !important;  //关键
      .el-button{
        margin-left: 12px;
        margin-right: 0px;
        float: right;
      }
      .el-button:first-child{
        float: left;
      }
    }
  }
}
.rcms-plus-dialog{
  min-height: 80%;
  .el-form-item--label-top{
    display: flex;
    .el-form-item__label{
      min-width: 80px;
      text-align: right;
    }
  }
}
.rcms-plus-form{
   .el-form-item--label-left{
    .el-form-item__label{
      justify-content: flex-end;
    }
   }
}